body {
  background: radial-gradient(circle, #0f2027, #000);
  font-family: Arial;
  color: #00f2ff;
  padding: 20px;
}

.title {
  text-align: center;
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.controls input,
.controls button,
#bookForm input,
#bookForm button {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #00f2ff;
  background: black;
  color: #00f2ff;
}

#toggleForm {
  display: block;
  margin: 15px auto;
}

.book-card {
  border: 2px solid rgba(0,255,255,.5);
  padding: 16px;
  border-radius: 12px;
  margin: 15px auto;
  max-width: 520px;
  box-shadow: 0 0 12px rgba(0,255,255,.4);
}

.book-header {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  gap: 8px;
}

.book-author {
  color: #ccc;
}

.book-meta {
  margin-top: 6px;
  font-size: 14px;
  color: #aaa;
}

.book-actions {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.book-actions button {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.book-actions button:hover {
  transform: scale(1.2);
}

.confirm {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-box {
  background: black;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid red;
  text-align: center;
}

.confirm-actions {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
