body {
  margin: 0;
  background: black;
  font-family: 'Share Tech Mono', monospace;
  overflow: hidden;
  color: #00ff9c;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Container */
.container {
  text-align: center;
  margin-top: 20vh;
}

/* Title */
.title {
  font-size: 3rem;
  color: #00ff9c;
  text-shadow: 0 0 15px #00ff9c;
}

/* Title */
.title {
  font-size: 3rem;
  color: #00ff9c;
  text-shadow: 0 0 15px #00ff9c;
}

/* Glitch */
.glitch {
  position: relative;
  font-size: 52px;
  font-weight: bold;
  color: #00ff9c;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 0 0 15px #00ff9c;
  animation: flicker 2.5s infinite;
}

/* glitch layers */
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}

.glitch::before {
  color: #00ffaa;
  animation: glitchTop 1.5s infinite linear;
}

.glitch::after {
  color: #00cc88;
  animation: glitchBottom 1.2s infinite linear;
}

/* Flicker */
@keyframes flicker {
  0% { opacity: 1; }
  5% { opacity: 0.6; }
  10% { opacity: 1; }
  15% { opacity: 0.4; }
  20% { opacity: 1; }
  100% { opacity: 1; }
}

/* Top glitch */
@keyframes glitchTop {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, 1px); }
  60% { transform: translate(-1px, 2px); }
  80% { transform: translate(1px, -1px); }
  100% { transform: translate(0); }
}

/* Bottom glitch */
@keyframes glitchBottom {
  0% { transform: translate(0); }
  20% { transform: translate(2px, 1px); }
  40% { transform: translate(-2px, -1px); }
  60% { transform: translate(1px, -2px); }
  80% { transform: translate(-1px, 2px); }
  100% { transform: translate(0); }
}



/* Menu */
.menu {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.menu button {
  background: transparent;
  border: 2px solid #00ff9c;
  color: #00ff9c;
  padding: 12px 26px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 12px #00ff9c;
}

.menu button:hover {
  background: #00ff9c;
  color: black;
}

/* Logout */
.logout {
  border-color: #ff2b2b;
  color: #ff2b2b;
  box-shadow: 0 0 12px #ff2b2b;
}

.logout:hover {
  background: #ff2b2b;
  color: black;
}

/* Music Button */
.music-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  border: 2px solid #00ff9c;
  background: black;
  color: #00ff9c;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 12px #00ff9c;
}

