body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #0f2027, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.center-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

button {
  width: 240px;
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid rgba(0, 255, 255, 0.6);
  background: black;
  color: #00f2ff;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
}

button:hover {
  background: #00f2ff;
  color: black;
  box-shadow: 0 0 25px #00f2ff;
  transform: scale(1.06);
}

.logout {
  border-color: red;
  color: #ff4d4d;
}

.logout:hover {
  background: red;
  color: white;
  box-shadow: 0 0 25px red;
}

.music-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  color: #00f2ff;
  border: 2px solid #00f2ff;
  cursor: pointer;
  box-shadow: 0 0 12px #00f2ff;
}
