* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #0f2027, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.login-box {
  width: 320px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  box-shadow: 0 0 25px #00f2ff;
  text-align: center;
}

.login-box h1 {
  color: #00f2ff;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #00f2ff;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #000;
  border: 1px solid #00f2ff;
  color: #00f2ff;
  border-radius: 6px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #00f2ff;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
