* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #0f2027, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.cyber-box {
  width: 90%;
  max-width: 340px;
  background: #000;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px #00f2ff;
  text-align: center;
}

.glow {
  color: #00f2ff;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #00f2ff;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #050505;
  border: 1px solid #00f2ff;
  color: #00f2ff;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  background: #00f2ff;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
