body {
  background: #000;
  color: #00f2ff;
  font-family: Arial;
  text-align: center;
}

.cyber-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cyber-box {
  background: #050505;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00f2ff;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: black;
  color: #00f2ff;
  border: 1px solid #00f2ff;
}

button:hover {
  background: #00f2ff;
  color: black;
}

img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}
